/**
 * Compass Imports
 */

@import "compass/css3/box-sizing"
@import "compass/css3/border-radius"
@import "compass/typography/text/replacement"
@import "compass/utilities/general/clearfix"

/**
 * Bower Component Imports
 */

@import "normalize"

/**
 * Imports
 */

@import "mixins"
@import "grid"
@import "animate"

/**
 * Variables
 */

$black: rgb(40, 40, 40)
$light-grey: rgb(241, 241, 241)
$highlight: rgb(0, 204, 160)

/**
 * Basic Layout & Typography
 * Author: @saulhardman
 */

*
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    @include box-sizing(border-box)

html
    font-size: 62.5%

body,
button,
input,
select,
textarea
    font-family: "Source Sans Pro", helvetica, arial, verdana, sans-serif
    @include font-size(13)
    color: $black

+text-highlight
    background: rgb(0, 255, 200)

a
    text-decoration: none
    color: $black
    &:visited
        color: $black
    &:hover
        color: $highlight
    &:active
        color: $highlight

blockquote
    position: relative
    margin: 1.5em 0
    padding: 0
    font-weight: 800
    &:before
        content: "“"
        position: absolute
        left: -15px
    &:after
        content: " ”"

/**
 * Global styles
 */

main
    display: block //Just in case...
    padding: 0 0 45px 0
    @include container

@import "parts/header"
@import "parts/footer"

/**
 * Homepage styles
 */

.about
    padding: 45px 0
    border-bottom: 1px solid $light-grey
    @include span-columns(12 omega, 12)

    .intro
        @include font-size(18)
        @include span-columns(8, 12)

    .quote
        @include font-size(18)
        @include span-columns(4 omega, 12)

        blockquote
            margin-bottom: 10px

        .author
            float: right
            color: lighten($black, 20%)
            &:before
                content: " — "

@import "parts/os"

@import "parts/downloads"











