.gallery
    margin: 30px 0 0

    li
        list-style-type: none
        display: inline-block
        margin: 0 87px 30px 0
        width: 125px
        height: 125px
        @include breakpoint(baby-bear)
            display: block
            margin: 0
            text-align: center

        &:nth-of-type(5n+5)
            margin: 0

    // ul
    //     margin: 0
    //     padding: 0

    //     li
    //         display: inline-block
    //         list-style-type: none
    //         width: 125px
    //         height: 125px

    //         a
    //             height: 125px
    //             width: 125px
    //             margin: 30px 87px 0 0 
    //             @include breakpoint(baby-bear)
    //                 display: block
    //                 margin: 0
    //                 text-align: center

    //             &:nth-of-type(5n+5)
    //                 margin: 0