.site-header
    text-align: center
    border-bottom: 1px solid #F1F1F1

    .header-inner
        padding: 45px 0
        @include container

    h1
        display: inline-block
        text-indent: -9999px
        height: 125px
        width: 125px
        transition: all .25s ease-in-out
        @include retinafy("opsy_logo", "png", 125px, 125px)
        &:hover
            -webkit-transform: scale(1.1)
            transition: all .25s ease-in-out // TODO: Mixin this shit (inc. prefixer)

.site-nav
    @include font-size(16)

    ul li
        display: inline-block
        margin: 0 20px 0 0
        padding: 0 0 2px 0
        &:last-of-type
            margin: 0

// Highlight current page in nav
.current_page_item
    border-bottom: 2px solid $black