.information
    @include span-columns(12 omega, 12)

    .about
        padding: 0 // TODO: Make this... not neccessary?
        @include font-size(18)
        @include span-columns(12 omega, 12)

    .partners, .team, .support
        margin: 45px 0 0 0

        p
            margin: 0 0 5px 0
            @include font-size(16)

        h3
            @include font-size(18)

        ul
            margin: 0
            padding: 0

            li
                margin: 0 0 20px 0
                list-style-type: none

    .partners, .team

        .name
            font-weight: 700

        .title
            margin: 0

        a
            color: $highlight

        li
            position: relative
            &:before
                content: "•"
                position: absolute
                top: 2px
                left: -15px

    .team
        @include span-columns(6, 12)
        @include breakpoint(baby-bear)
            @include span-columns(12 omega, 12)

    .partners
        @include span-columns(6 omega, 12)
        @include breakpoint(baby-bear)
            @include span-columns(12 omega, 12)

    .support
        @include span-columns(12 omega, 12)