// Homepage features
.os-gallery
    text-align: center

    .os
        display: inline-block

        h3
            width: 100px
            height: 40px
            margin: 0 0 10px 0
            padding: 10px
            background: white
            border: 1px solid $black

        .icon
            height: 100px
            width: 100px
            background: $black

// Single OS page